{{> head }}
    {{> navbar }}
    <div class="container">
    <div class="row">
        <div class="col-8">
            <h1>About Node JS</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/nodejs.png" alt="" class="img-thumbnail" height="300px" width="300px">
        </div>
    </div>
    </div>
{{> footer }}